/* Global
  ============================= */
  body {
    background-image: url(images/headphones_hero_1.jpg);
}

/* Variables
  ============================= */
:root {
    --color-white: #FFFFFF;

    --font-family: 'Source Sans Pro';
    --font-size: 18px;

    --nav-item-margin: 0 0 0 2rem;

    --header-padding: 4rem 0 0;
}

/* Container
  ============================= */
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Header
  ============================= */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar
  ============================= */
.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav .nav-item {
    font-family: var(--font-family);
    font-size: var(--font-size);
}
.nav .nav-item + .nav-item {
    margin: var(--nav-item-margin);
}
.nav .nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
    text-decoration: none;
    color: var(--color-white);
}
.nav-link:hover {
    color: #FF6565;
}
