body {
    display: flex;
    background-image: url(images/headphones_hero_1.jpg);
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}


/* Header/Hero 
    ================*/
.header {
    display: flex;
    justify-content: space-between;
    margin: 1em 8em 0 8em;
    width: 100%;
}
.nav-header {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
}
.nav-link {
    font-family: 'Source Sans Pro';
    font-size: 18px;
    margin-right: 3em;
    color: #FFFFFF;
}
.nav-link:hover {
    color: red;
}

