*, *::before, *::after {
    box-sizing: border-box;
}

@import 'holberton_school-icon/style.css';

html {
    font-family: Source Sans Pro;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    color: var(--white-color);
}

/* Variables
    =============================== */

:root {
    --font-family: Source Sans Pro;

    --white-color: #FFFFFF;
    --black-color: #000000;

    --background-button: #FF6565;
    --background-footer: #071629;

    --links-hover_active: #FF6565;
    --button-hover_active: 0.9;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.section-header h1 {
    text-align: center;
}

.section-header p {
    text-align: center;
}

/* Header
    =============================== */

.header {
    display: flex;
    flex-direction: column;
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}

.header-logo img {
    width: 100%;
}

.nav {
    display: flex;
}

.navbar .nav-link {
    color: var(--white-color);
}

.navbar .nav-link:hover {
    color: var(--links-hover_active);
}

.navbar .nav .nav-item {
    padding: 0 1em 0 1em;
}

.hero-section {
    margin-top: 4em;
    margin-bottom: 4em;
}

.hero-section .container .section-header {
    display: flex;
    flex-direction: column;
}

.hero-section .container .section-header h1 {
    font-size: 32px;
    margin-top: 2em;
    margin-bottom: 0;
}

.hero-section .container .section-header span {
    text-align: center;
}

.hero-section .container .section-header button {
    margin-top: 2em;
}

.hero-section .container .section-header button + p {
    margin-top: 7em;
}

.button {
    cursor: pointer;
    align-self: center;
    color: var(--white-color);
    background-color: #FF6565;
    text-transform: uppercase;
    border-radius: 2em;
    border: none;
    width: 10em;
    height: 3em;
}
.button:hover {
    opacity: var(--button-hover_active);
}


@media (max-width: 480px) {
    .header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 0;
    }

    .hero-section {
        margin-top: 1em;
    }

    .hero-section .container .section-header {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70%;
    }

    .hero-section .container .section-header span {
        text-align: center;    
    }

    .hero-section .container .section-header button + p {
        margin-top: 5em;
    }
}

/* Hamburger Menu
    =============================== */

/* menu btn */
/* Section about us
    =============================== */


.section-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about-us *{
    color: var(--black-color);
}

.about-container {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 4em;
}

.about-container header {
    margin: auto;
    width: 80%;
}

.about-container header h1 {
    font-size: 32px;
}

.about-container .section-header {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.article-container {
    display: flex;
    margin-top: 4em;
    margin-bottom: 5em;
}

.article-container .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 480px) {
    .article-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70%;
    }
    .box {
        display: flex;
        flex-direction: column;
    }
    .box i {
        margin: auto;
    }
}

/* Section results
    =============================== */


.results {
    background-image: url(images/headphones_hero_2.jpg);
}

.results-container {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 4em;
}

.results *{
    color: var(--white-color);
}

.pentagonos {
    display: flex;
    justify-content: space-between;
}

.results-img {
    width: 190px;
    height: 190px;
    background-image: url("images/pentagone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-bottom: 50px;
}

.results-container .section-header {
    margin-top: 4em;
    margin-bottom: 3em;
}

.results-container .section-header h1 {
    font-size: 32px;       
}
@media (max-width: 480px) {
    .results {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .results-container {
        margin: 0;
    }
    .results-container .section-header {
        width: 70%;
        align-self: center;
    }
    .pentagonos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Section contact
    =============================== */

.contact {
    display: flex;
}

.contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 4em;
}
.contact-container h1 {
    font-size: 32px;
    text-align: center;
}

.section-form {
    display: flex;
    align-self: center;
    width: 400px;
    height: 450px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form input {
    margin: 1em;
    margin-bottom: 3em;
    padding-bottom: 0.5em;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form button {
    margin-top: 2em;
}

::placeholder {
    font-family: var(--font-family);
    font-size: 18px;
    color: var(--black-color);
}


/* Footer
    =============================== */

.footer {
    background-color: var(--background-footer);
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    color: var(--white-color);
}

.footer-container .span {
    align-self: center;
}

@media (max-width: 480px) {
    .footer-container .header-container .navbar .nav {
        display: flex;
        flex-direction: row;
    }
}
